.main-body{
height: 100vh;
}
body{ 
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
background: linear-gradient(to right, #0083B0, #00B4DB); 
}
.heading{
  text-align: center;
  color: black;
  font-family: roboto;
  font-weight: bold;
  font-size: 27px;
  text-decoration: underline;
  margin-top: 10px;
}
.todo-list-mainDiv{
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 8px;
}

.todo-task-input-div{
  display: flex;
  /* border: 1px black solid; */
  align-items: center;
  column-gap: 10px;
  padding: 10px;
}

.task-list{
  width: 95%;
  margin: auto;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.task-list li{
  margin: 0px;

}
.task-buttons{
  display: flex;
  column-gap: 10px;
}